{% extends 'base.html' %}

{% block content %}

<br><br>


<div class="page-container">
    
    <div class="left-container">
        <br><br>
        <br><br>
        <div class="cont-home">
            <h1>Escolha uma das opções:</h1>
        </div>

        <div class="cont-home">
            <a href="{% url 'lista_completa' %}" style="text-decoration: none;">
                <button class="btm-butt">Lista de Usuários</button>
            </a>
            <br>
            <a href="{% url 'cadastrar' %}" style="text-decoration: none;">
                <button class="btm-butt">Cadastrar Novo Usuário</button>
            </a>
        </div>
    </div>

    
    <div class="right-container">
        <img src="static/img/Design sem nome.png" alt="Imagem Descritiva" class="image">
    </div>
</div>

{% endblock %}
